@model Template.Entities.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = "Index";

}
<h2>Index</h2>

@using (Html.BeginForm("Register", "Template", FormMethod.Post))
{
    <table>
        <tr>
            <th colspan="2" align="center">Signin form</th>
        </tr>
        <tr>
            <td>
                UserName:
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserName)
            </td>
        </tr>

        <tr>
            <td>
                Password:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Register"/></td>
        </tr>
    </table>
}

